{% extends "streaming/base.html" %}
  {% load static %}
  {% block links %}
      <link rel="stylesheet" href="{% static "streaming/css/content.css" %}" type="text/css">
  {% endblock %}
    {% block content %}
    <h2 class="video_header">Videos</h2>
    <div class="video_main_container">
      {% for video in videos %}
        <div class="video_sub_container">
          <div class="del-edit">
        
              <a href="/streaming/del/{{video.id}}">
                <button class="del-btn">
                  <img src="/statics/streaming/images/delete.png" alt="del">
                </button>
              </a>

            {% comment %} <form id="updateForm" method="POST" action="/streaming/edit/{{video.id}}/">
                {% csrf_token %}
                <input type="hidden" name="data_to_post" id="data_to_post">
            </form> {% endcomment %}
            {% comment %} <button id="updatevideo" class="edit-btn">
                <img  src="/statics/streaming/images/edit.png" alt="update">
            </button> {% endcomment %}
               <a id="update-video" href="/streaming/edit/{{video.id}}">
                  <button id="updatevideo" class="edit-btn">
                    <img  src="/statics/streaming/images/edit.png" alt="update">
                </button>
               </a> 
         
            </div>
          <a class="video_content_link" href="/streaming/video_feed/{{video.id}}">
            <img class="video_content" src="{% url 'video_feed' video.id %}" /> 
            <div class="video-title"> {{ video.name }} - {{ video.url }}</div>
          </a>
        </div>
      {% empty %}
        <div class="not-found"><h6>No videos found.</h6></div>
      {% endfor %}
    </div> 
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search={{ search_term }}">Previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ search_term }}">Next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
    {% comment %} {% for video in videos %}
        <img style="width:500px;height:500px;" src="{% url 'video_feed' video.id %}" /> 
    {% endfor %} {% endcomment %}

    {% comment %} <video autoplay loop muted>
        <source src="data:image/jpeg;base64,{{ frame|safe }}" type="image/jpeg">
    </video> {% endcomment %}
    {% comment %} <img style="width:500px;height:500px;" src="{% url 'video_feed' %}" />  {% endcomment %}

{% endblock %}
{% block scripts %}
  <script src="{% static 'streaming/js/index.js' %}"></script>
{% endblock %}
