{% extends "streaming/base.html" %}
{% load static %}
    {% block links %}
        <link rel="stylesheet" href="{% static "streaming/css/form.css" %}" type="text/css">
    {% endblock %}
    {% block content %}
    <div class="login-container">
        <div class="stramming-title">
            <img src="{% static "streaming/images/streaming_title.png" %}" alt="title-img-not-found">
        </div>
        <div class="container">
            <h1>Log in</h1>
            <form action="/streaming/login/" method="POST" id="singup">
                {% csrf_token %}
                {{login_from.as_p}}
                <p class="sign-up-btn">
                    <input type='submit' name='submit' value = "Log in">
                </p>
                <div class="already-account">Don't have account? <a href="/streaming/signup/">Sign up</a></div>
            </form>
        </div>
    </div>
    {% endblock %}


